<section class="menu cid-rn8quTBiiJ" once="menu" id="menu1-p">
  <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </div>
      </button>
      <div class="menu-logo">
          <div class="navbar-brand">
              <span class="navbar-logo">
                  <a href="/">
                       <img src="/static/assets/images/logo2.png" alt="Mobirise" style="height: 3.8rem;">
                  </a>
              </span>
              <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="/">
                      Vost shop
                  </a></span>
          </div>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
            <li class="nav-item">
                <a class="nav-link link text-white display-4" href="/test">
                <span class="glyphicon glyphicon-search"></span>Тестовый страница</a>
            </li>
              <li class="nav-item">
                <a class="nav-link link text-white display-4" href="/checkout">
                  <span class="mbri-shopping-cart mbr-iconfont mbr-iconfont-btn"></span><span id="basket_total_nmb">
                      {% if products_total_nmb %}
                          ({{ products_total_nmb }})
                      {% else %}
                          (0)
                      {% endif %}
                  </span> Корзина</a>
              </li>
                  <li class="nav-item">
                      <a class="nav-link link text-white display-4" href="/">
                      <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>Главное</a>
                  </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="/cont">
                        <span class="mbri-search mbr-iconfont mbr-iconfont-btn"></span>Контакты</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link link text-white display-4" href="/landing">
                            <span class="mbri-hearth mbr-iconfont mbr-iconfont-btn"></span>Подписка</a>
                        </li>
                          <li class="nav-item dropdown open">
                                  <a class="nav-link link text-white dropdown-toggle display-4" href="" data-toggle="dropdown-submenu" aria-expanded="true">
                                    <span class="mbri-delivery mbr-iconfont mbr-iconfont-btn"></span>Каталок</a>
                              <div class="dropdown-menu">
                                <a class="text-white dropdown-item display-4" href="/homeCategory">
                                    <span class="mbri-mobile mbr-iconfont mbr-iconfont-btn"></span>Телефоны</a>
                                <a class="text-white dropdown-item display-4" href="/homeCategory" aria-expanded="false">
                                    <span class="mbri-laptop mbr-iconfont mbr-iconfont-btn"></span>Ноутбуки</a>
                                <a class="text-white dropdown-item display-4" href="/homeCategory" aria-expanded="false">
                                    <span class="mbri-watch mbr-iconfont mbr-iconfont-btn"></span>Часы</a>

                                    {% for product_in_basket in products_in_basket %}
                                    <a class="text-white dropdown-item display-4" aria-expanded="false"><button class="delete-item" href="" data-product_id="{{ product_in_basket.id }}">Удалить</button></a>
                                    {% endfor %}
                              </div>
                          </li>

            </ul>
      </div>
  </nav>
</section>
