{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="mbr-section form1 cid-rn8uHYzSGy" id="form1-e">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">Подпишитесь на нашу рассылку</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                    <div data-form-alert="" hidden="">Спасибо за заполнение анкеты!</div>
                    <form class="mbr-form" method="post" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="EF9bHYcm3JS7S5JxC58HVTsYEqTx7u4x71eUUNh+L1+j8aEb8AuHoJBK84uvBloAf+OoL8DYEztX9YNVZBhWZ7OtVGGfKucmCuj1gdLfN8nzRe8NOu0O4Um4yTueA3C5" data-form-field="Email">
                      {% csrf_token %}
                        <div class="row row-sm-offset">
                            <div class="col-md-4 multi-horizontal" data-for="name">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="name-form1-e">Имя</label>
                                    <input type="text" class="form-control" name="{{ form.name.name }}" data-form-field="Name" required="" id="name-form1-e">
                                </div>
                            </div>
                            <div class="col-md-4 multi-horizontal" data-for="email">
                                <div class="form-group">
                                    <label class="form-control-label mbr-fonts-style display-7" for="email-form1-e">Email</label>
                                    <input type="email" class="form-control" name="{{ form.email.name }}" data-form-field="Email" required="" id="email-form1-e">
                                </div>
                            </div>
                        </div>
                      <span class="input-group-btn">
                            <button href="" type="submit" class="btn btn-primary btn-form display-4">ОТПРАВИТЬ</button>
                        </span>
                    </form>
            </div>
        </div>
    </div>
</section>

{% include 'footer.html' %}
{% endblock %}
